.App {
  text-align: center;
}


.announcement-section {
  max-width: 600px;
}

.material-section {
  max-width: 600px;
}

.assignment-section {
  max-width: 600px;
}

.submission-section {
  max-width: 600px;
}

.side-bar {
  max-width: 200px;
}

.side-bar-button {
  margin: 5px;
  display: block;
  width: 150px;
}

.other-button {
  margin: 5px;
  width: 100px;
}